.container {
	width: 95%;
	margin: 0 auto;

	@include from(sm) {
		max-width: map-get($breakpoints, sm);
	}

	@include from(md) {
		max-width: map-get($breakpoints, md);
	}

	@include from(lg) {
		max-width: map-get($breakpoints, lg);
	}

	@include from(xl) {
		max-width: map-get($breakpoints, xl);
	}

	@include from(xxl) {
		max-width: map-get($breakpoints, xxl);
	}
}
