.nav {
	.menu {
		list-style: none;
		background-color: $primary;
		position: absolute;
		top: var(--height-header);
		right: 0;
		height: calc(100vh - var(--height-header));
		width: 100%;
		display: none;

		@include from(lg) {
			background-color: transparent;
			position: static;
			top: auto;
			right: auto;
			height: auto;
			width: auto;
			display: flex;
			gap: 1em;

			&__item {
				&:last-of-type .menu__link {
					@include button-outline-primary;
				}
			}
		}

		&__link {
			display: block;
			padding: 1em 2em;
			background-color: $primary;
			color: #FFF;
			text-decoration: none;
			font-weight: 500;

			&:hover {
				background-color: darken($primary, 5);
			}

			@include from(lg) {
				@include button-primary;
			}
		}
	}

	&__button {
		$size: 2em;
		$color: #444;
		cursor: pointer;
		display: block;
		height: $size;
		width: $size * 1.25;

		background: linear-gradient(to bottom,
				$color 0%,
				$color 20%,
				transparent 20%,
				transparent 40%,
				$color 40%,
				$color 60%,
				transparent 60%,
				transparent 80%,
				$color 80%,
				$color 100%,
			);

		@include from(lg) {
			display: none;
		}
	}

	&__input:checked~.menu {
		display: block;
	}
}
